@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(7, 14, 39);
  color: #ffffff;
}

.navigation {
  height: 70px;
  background: rgb(8, 17, 49);
}
.navigation .nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
.navigation .brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.navigation .brand a,
.navigation .brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
.navigation nav {
  float: right;
}
.navigation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation nav ul li {
  float: left;
  position: relative;
}
.navigation nav ul li.no-hover a:hover::before {
  width: 0;
}
.navigation nav ul li a {
  display: block;
  padding: 10px 20px 0 20px;
  line-height: 50px;
  background: rgb(8, 17, 49);
  color: #ffffff;
  text-decoration: none;
}
.navigation nav ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}
.navigation nav ul li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: rgb(49, 74, 165);
  width: 0%;
  bottom: 0px;
}
.navigation nav ul li a:hover::before {
  width: 70%;
}
.navigation nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
.navigation .nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: rgb(49, 74, 165);
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
.not-allowed {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  height: 100vh;
}

.card-container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.card {
  max-width: 400px;
  width: 400px;
  height: 400px;
  background-color: rgb(8, 19, 61);
  display: inline-block;
  margin: 0 10px;
  overflow: hidden;
}
.card i {
  margin-top: 5rem;
  font-size: 4rem;
  display: inline-block;
}

.card-body {
  max-height: 100%;
  overflow-y: auto;
}

.card-body::-webkit-scrollbar {
  width: 12px;
}

.card-body::-webkit-scrollbar-thumb {
  background-color: rgb(49, 74, 165);
}

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.timeline .timeline-content {
  padding: 20px;
  background: rgb(8, 19, 61);
  box-shadow: 5px 5px 10px #003ab6, -5px -5px 10px #044eec;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}
.timeline .timeline-component {
  margin: 0px 20px 20px 20px;
}
@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #2163f2, #1d00c0, #2163f2);
    width: 3px;
    height: 100%;
  }
  .timeline .main-middle {
    opacity: 0;
  }
  .timeline .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #2163f2, #1d00c0, #002fff);
    transform: translateX(-50%);
  }
}

.btn {
  color: #ffffff;
  background-color: rgba(33, 99, 242, 0.4745098039);
  display: inline-block;
  margin-right: 10px;
}

.btn:hover {
  color: #ffffff;
  background-color: #2163f2;
  text-shadow: 0px 0px 30px white, 0px 0px 30px white, 0px 0px 30px white, 0px 0px 10px #553300, 0px 0px 10px #553300;
}

.project-container {
  margin: auto;
  width: 100%;
  padding: 3rem;
  height: 100vh;
}

.row {
  margin: auto 0;
}

.card2 {
  float: left;
  padding: 1rem;
  min-width: 500px;
}
.card2 .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card2 .menu-content::before, .card2 .menu-content::after {
  content: "";
  display: table;
}
.card2 .menu-content::after {
  clear: both;
}
.card2 .menu-content li {
  display: inline-block;
}
.card2 .menu-content a {
  color: #ffffff;
  text-decoration: none;
}
.card2 .wrapper {
  background: url(https://executiveaccommodationandservices.com/wp-content/uploads/2022/11/cannes-film-festival.jpg) 30% 1%/cover no-repeat;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(8, 19, 61, 0.3), 0 15px 12px rgba(8, 19, 61, 0.2);
}
.card2 .wrapper:hover .data {
  transform: translateY(0);
}
.card2 .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(80px + 1em));
  transition: transform 0.3s;
}
.card2 .data .content {
  padding: 1.5em;
  position: relative;
  z-index: 1;
}
.card2 .type {
  font-size: 12px;
}
.card2 .title {
  margin-top: 10px;
}
.card2 .title a {
  color: #ffffff;
  text-decoration: none;
}
.card2 .text {
  height: 70px;
  margin: 0;
}
.card2 input[type=checkbox] {
  display: none;
}
.card2 input[type=checkbox]:checked + .menu-content {
  transform: translateY(-60px);
}
.card2 .date {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(8, 19, 61);
  color: #ffffff;
  padding: 0.75rem;
}
.card2 .date span {
  display: block;
  text-align: center;
}
.card2 .date .day {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 2px 3px 2px rgba(8, 19, 61, 0.18);
}
.card2 .date .month {
  text-transform: uppercase;
}
.card2 .date .month,
.card2 .date .year {
  font-size: 10px;
}
.card2 .content {
  background-color: rgb(8, 19, 61);
  color: white;
  box-shadow: 0 5px 30px 10px rgba(8, 19, 61, 0.3);
}
.card2 .menu-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
}
.card2 .menu-content li {
  text-align: center;
  width: 3rem;
  background-color: rgb(8, 19, 61);
  height: 3rem;
  position: relative;
}
.card2 .menu-content i {
  font-size: 24px;
}/*# sourceMappingURL=home.css.map */