// Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: rgb(8, 17, 49);
$nav-font-color: #ffffff;
$link-hover-color: rgb(49, 74, 165);
$background-color: rgb(7, 14, 39);
$card-color: rgb(8, 19, 61);

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

// Body
body {
  font-family: "Poppins", sans-serif;
  background-color: $background-color;
  overscroll-behavior-x: none;
  overflow-x: hidden;
  color: #ffffff;
}

// Navigation
.navigation {
  height: $nav-height;
  background: $nav-background;

  .nav-container {
    max-width: $content-width;
    margin: 0 auto;
  }

  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.4em;

    a,
    a:visited {
      color: $nav-font-color;
      text-decoration: none;
    }
  }

  nav {
    float: right;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        position: relative;

        &.no-hover {
          a {
            &:hover::before {
              width: 0;
            }
          }
        }

        a {
          display: block;
          padding: 10px 20px 0 20px;
          line-height: 50px;
          background: $nav-background;
          color: $nav-font-color;
          text-decoration: none;

          &:hover {
            text-decoration: none;
            color: $nav-font-color;
          }

          &::before {
            transition: 300ms;
            height: 5px;
            content: "";
            position: absolute;
            background-color: $link-hover-color;
            width: 0%;
            bottom: 0px;
          }

          &:hover::before {
            width: 70%;
          }

          &:not(:only-child):after {
            padding-left: 4px;
            content: " ▾";
          }
        }
      }
    }
  }

  .nav-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;

  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $link-hover-color;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }

  span:before {
    top: -10px;
  }

  span:after {
    bottom: -10px;
  }

  &.active span {
    background-color: transparent;

    &:before,
    &:after {
      top: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

// Other styles...

// Mobile styles
@media screen and (max-width: $breakpoint) {
  .card-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 4rem;
  }

  .card {
    max-width: 80%;
    width: 100%;
    margin: 0 0 10px;

    i {
      margin-top: 3rem;
      font-size: 2rem;
      display: inline-block;
    }
  }

  .card-body {
    max-height: none;
    overflow-y: visible;
  }

  .card-body::-webkit-scrollbar {
    width: 0;
  }

  .timeline {
    width: 100%;
  }

  .timeline-content {
    margin: 0;
  }

  .btn {
    margin-right: 0;
  }

  .project-container {
    padding: 1rem;
  }

  .card2 {
    min-width: 80%;
    width: 100%;

    @media screen and (min-width: 768px) {
      min-width: 50%;
    }
  }
}
